button {
  padding: 10px 18px;
  margin: 5px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #d0d0d0;
  transform: scale(1.05);
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
#message {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.main-btn {
    padding: 12px 22px;
    background-color: #e70ec3;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
}
